<div>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Cambiar contraseña</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>Falta la llave de la contraseña.</strong>
            </div>

            <div class="alert alert-warning" *ngIf="!success && !keyMissing">
                <p>Elija una nueva contraseña</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Su contraseña no puede ser cambiada. Recuerde que la petición de contraseña solo está hábil por 24 horas.</p>
            </div>

            <p class="alert alert-success" *ngIf="success">
                <span><strong>Su contraseña se ha cambiado.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">inicie sesión</a>.
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña y la conformación no están iguales.
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Nueva contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="New password"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Su contraseña es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                Su contraseña requiere al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                Su contraseña no puede exceder 50 caracteres.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Nueva confirmación de la contraseña</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirm the new password"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
¡                                Su contraseña es requerida.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                Su contraseña requiere al menos 4 caracteres.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                                Su contraseña no puede exceder 50 caracteres.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Cambiar</button>
                </form>
            </div>

        </div>
    </div>
</div>
