<div style="padding-top: 50px">
    <h2>
        <span>Colaboradores</span>
        <!--<button style="color: white;background-color: #fb9e39;" class="btn float-right jh-create-entity create-collaborator" [routerLink]="['/', { outlets: { popup: ['collaborator-new'] } }]">-->
            <!--<span class="fa fa-plus"></span>-->
            <!--<span >-->
            <!--Crear nuevo-->
            <!--</span>-->
        <!--</button>-->
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="collaborators">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span>ID</span></th>
                <th><span>Identifación</span></th>
                <th><span>Nombre</span></th>
                <th><span>Primer apellido</span></th>
                <th><span>Segundo apellido</span></th>
                <th><span>Fecha naciemiento</span></th>
                <th><span>Género</span></th>
                <th><span>Teléfono</span></th>
                <th><span>Dirección</span></th>
                <th><span>Estado</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let collaborator of collaborators ;trackBy: trackId">
                <td><a [routerLink]="['../collaborator', collaborator.id ]">{{collaborator.id}}</a></td>
                <td>{{collaborator.identification}}</td>
                <td>{{collaborator.name}}</td>
                <td>{{collaborator.firstName}}</td>
                <td>{{collaborator.lastName}}</td>
                <td>{{collaborator.birthDate}}</td>
                <td>{{collaborator.gender}}</td>
                <td>{{collaborator.cellPhone}}</td>
                <td>{{collaborator.address}}</td>
                <td>
                    <button class="btn btn-danger btn-sm" (click)="setActive(collaborator, true)" *ngIf="!collaborator.activated">Deactivado</button>
                    <button class="btn btn-success btn-sm" (click)="setActive(collaborator, false)" *ngIf="collaborator.activated">Activado</button>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../collaborator', collaborator.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">Ver</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collaborator/'+ collaborator.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'collaborator/'+ collaborator.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Borrar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
