
<div *ngIf="collaborator" style="margin-top: 50px">
    <h2><span>Colaborador</span> {{collaborator.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <div class="row">
           <div class="col-md-2">
               <dl class="row-md jh-entity-details">
                   <dt><span>Nombre</span></dt>
                   <dd>
                       <span>{{collaborator.name}}</span>
                   </dd>
                   <dt><span>Primer apellido</span></dt>
                   <dd>
                       <span>{{collaborator.firstName}}</span>
                   </dd>
                   <dt><span>Segundo apellido</span></dt>
                   <dd>
                       <span>{{collaborator.lastName}}</span>
                   </dd>
               </dl>
           </div>
            <div class="col-md-2">
                <dt><span>Identificación</span></dt>
                <dd>
                    <span>{{collaborator.identification}}</span>
                </dd>
                <dt><span>Fecha nacimiento</span></dt>
                <dd>
                    <span>{{collaborator.birthDate}}</span>
                </dd>
                <dt><span>Género</span></dt>
                <dd>
                    <span>{{collaborator.gender}}</span>
                </dd>
            </div>
            <div class="col-md-2">
                <dl class="row-md jh-entity-details">
                    <dt><span>Celular</span></dt>
                    <dd>
                        <span>{{collaborator.cellPhone}}</span>
                    </dd>
                    <dt><span>Dirección</span></dt>
                    <dd>
                        <span>{{collaborator.address}}</span>
                    </dd>
                    <dt><span>Estado</span></dt>
                    <dd>
                        <span>{{collaborator.status}}</span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span>Atrás</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'collaborator/'+ collaborator.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
    </button>
</div>
