
<div *ngIf="project" style="margin-top: 50px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <span class="fa fa-arrow-left"></span>&nbsp;<span>Atrás</span>
                </button>

                <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                        [routerLink]="['/', { outlets: { popup: 'project/'+ project.id + '/edit'} }]"
                        replaceUrl="true"
                        queryParamsHandling="merge"
                        class="btn btn-primary">
                    <span class="fa fa-pencil"></span>&nbsp;<span> Editar</span>
                </button>
            </div>
            <div class="col-md-4">
                <h2 style="text-align: center"></h2>
            </div>
        </div>
    </div>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div style="background-color:#479dcf;color:white">
                    <div style="padding-top: 20px; padding-bottom: 10px">
                        <dl style="text-align: center!important;">
                            <dt><span style="letter-spacing: 1px">Total horas</span></dt>
                            <dd>
                                <span style="font-size: 40px;">{{project.totalHours}}</span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{project.name}}</span>
                </dd>
                <dt><span>Descripción</span></dt>
                <dd>
                    <span>{{project.description}}</span>
                </dd>
                <dt><span>Colaborador</span></dt>
                <dd>
                    <div *ngIf="project.collaboratorId">
                        <a [routerLink]="['/collaborator', project.collaboratorId]">{{project.collaboratorName}}</a>
                    </div>
                </dd>
            </div>
            <div class="col-md-2">
                <dl class="row-md jh-entity-details">
                    <dt><span>Fecha de inicio</span></dt>
                    <dd>
                        <span>{{project.startDate}}</span>
                    </dd>
                    <dt><span>End Date</span></dt>
                    <dd>
                        <span>{{project.endDate}}</span>
                    </dd>
                    <dt><span>Estado</span></dt>
                    <dd>
                        <span>{{project.status}}</span>
                    </dd>
                </dl>
            </div>

        </div>
    </div>
    <button class="btn float-right jh-create-entity create-log-work" [routerLink]="['/', { outlets: { popup: 'log-work-new' } }]" style="background-color: #fb9e39; color: white">
        <span class="fa fa-plus"></span>
        <span>
            Crear nueva tarea
            </span>
    </button>
</div>
<br>
<div class="table-responsive" *ngIf="logWorks">
    <table class="table table-striped">
        <thead>
        <tr>
            <th><span>ID</span></th>
            <th><span>Nombre</span></th>
            <th><span>Descripción</span></th>
            <th><span>Hora</span></th>
            <th><span>Minuto</span></th>
            <th><span>Fecha</span></th>
            <th><span>Estado</span></th>
            <!--<th><span>Project</span></th>-->
            <th *jhiHasAnyAuthority="'ROLE_ADMIN'"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let logWork of logWorks ;trackBy: trackId">
            <td><a [routerLink]="['../log-work', logWork.id ]">{{logWork.id}}</a></td>
            <td>{{logWork.name}}</td>
            <td>{{logWork.description}}</td>
            <td>{{logWork.hour}}</td>
            <td>{{logWork.minute}}</td>
            <td>{{logWork.date}}</td>
            <td>
                <span *ngIf="logWork.status === 'P'">Pendiente</span>
                <span *ngIf="logWork.status === 'A'">Aceptado</span>
                <span *ngIf="logWork.status === 'R'">Rechazado</span>
            </td>
            <!--<td>-->
                <!--<div *ngIf="logWork.projectId">-->
                    <!--<a [routerLink]="['../project', logWork.projectId  ]" >{{logWork.projectName}}</a>-->
                <!--</div>-->
            <!--</td>-->
            <td class="text-right" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <div  *ngIf="logWork.status === 'P'" class="btn-group flex-btn-group-container">
                    <button type="submit"
                            (click)="setLogWork(logWork,'A')"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="d-none d-md-inline">Aceptar</span>
                    </button>
                    <button type="submit"
                            (click)="setLogWork(logWork,'R')"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="d-none d-md-inline">Rechazar</span>
                    </button>
                </div>
            </td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">
                    <button type="submit"
                            [routerLink]="['../log-work', logWork.id ]"
                            class="btn btn-info btn-sm">
                        <span class="fa fa-eye"></span>
                        <span class="d-none d-md-inline">Ver</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'log-work/'+ logWork.id + '/edit'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-primary btn-sm">
                        <span class="fa fa-pencil"></span>
                        <span class="d-none d-md-inline">Editar</span>
                    </button>
                    <button type="submit"
                            [routerLink]="['/', { outlets: { popup: 'log-work/'+ logWork.id + '/delete'} }]"
                            replaceUrl="true"
                            queryParamsHandling="merge"
                            class="btn btn-danger btn-sm">
                        <span class="fa fa-remove"></span>
                        <span class="d-none d-md-inline">Borrar</span>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
