<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">Contraseña para [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Se cambió la contraseña</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>Ocurrió un error!</strong> No se pudo cambiar la contraseña.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                La contraseña y su confirmación no están iguales!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password">Nueva contraseña</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                    placeholder="New password"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.required">
                            Su contraseña es requerida.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.minlength">
                           Su contraseña debe de tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.maxlength">
                            Su contraseña no puede ser más grande que 50 caracteres.
+                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmación de nueva contraseña</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Confirm the new password"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            La confirmación de la contraseña es requerida.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                            Su contraseña debe de tener al menos 4 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                            Su contraseña no puede ser más grande que 50 caracteres.                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
