
<div *ngIf="logWork">
    <h2><span>Log Work</span> {{logWork.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{logWork.name}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{logWork.description}}</span>
        </dd>
        <dt><span>Hour</span></dt>
        <dd>
            <span>{{logWork.hour}}</span>
        </dd>
        <dt><span>Minute</span></dt>
        <dd>
            <span>{{logWork.minute}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{logWork.date}}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
            <span>{{logWork.status}}</span>
        </dd>
        <dt><span>Project</span></dt>
        <dd>
            <div *ngIf="logWork.projectId">
                <a [routerLink]="['/project', logWork.projectId]">{{logWork.projectName}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'log-work/'+ logWork.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
