<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Activación</h1>

            <div class="alert alert-success" *ngIf="success">
                <span><strong>Su cuenta ha sido activada.</strong> Por favor </span>
                <a class="alert-link" (click)="login()">ingrese.</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Su usuario no pudo ser activado.</strong> Favor use el formulario de registro para ingresar.
            </div>

        </div>
    </div>
</div>
