<div [ngSwitch]="isAuthenticated()" style="padding-top: 50px">
    <div *ngSwitchCase="true">
        <div>
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                Usuario admin
            </div>

            <div *jhiHasAnyAuthority="'ROLE_USER'">
                <div class="row">
                    <div *ngFor="let project of projects" class="col-md-3">
                        <div class="card jh-card">
                            <p>{{project.name}}</p>
                            <button [routerLink]="['../project', project.id ]" class="btn btn-primary">Ir al proyecto</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngSwitchCase="false">
        <div class="row justify-content-center">
            <div>
                <h2>Inicio de sesión</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 card jh-card" style="background-color: #f7f7f7">
                <div>
                    <div>
                        <div cdiss="alert alert-danger" *ngIf="authenticationError">
                            <strong>¡Falló el inicio de sesión!</strong> Por favor revise sys credenciales.
                        </div>
                    </div>
                    <div>
                        <form class="form" role="form" (ngSubmit)="login()">
                            <div class="form-group">
                                <label for="username" style="color:#69d9e8">Correo</label>
                                <input type="text" class="form-control input-register" name="username" id="username" placeholder=""
                                       [(ngModel)]="username">
                            </div>
                            <div class="form-group">
                                <label for="password" style="color:#69d9e8">Contraseña</label>
                                <input type="password" class="form-control input-register" name="password" id="password" placeholder=""
                                       [(ngModel)]="password">
                            </div>
                            <div class="form-check">
                                <label class="form-check-label" for="rememberMe">
                                    <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>
                                    <span style="font-size: 14px">Recordarme</span>
                                </label>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-register">Ingresar</button>
                        </form>
                        <p></p>
                        <!--<div class="alert alert-warning">-->
                        <!--<a class="alert-link" (click)="requestResetPassword()">Did you forget your password?</a>-->
                        <!--</div>-->
                        <div style="text-align: center; font-size: 13px">
                            <span>¿No tienes una cuenta?</span>
                            <a class="alert-link" (click)="register()">Registrate ahora mismo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
