<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Cambie su contraseña</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>El correo no está registrado!</strong> Verfique e intente de nuevo.
            </div>

            <div class="alert alert-warning" *ngIf="!success">
                <p>Ingrese su correo para registrar.</p>
            </div>

            <div class="alert alert-success" *ngIf="success === 'OK'">
                <p>Revise su correo para los detalles del cambio de contraseña.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Correo</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" email required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Su correo es requerido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Su correo es inválido.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Su correo debde de tener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Su correo no puede ser más grande que 100 caracteres.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary">Cambiar</button>
            </form>

        </div>
    </div>
</div>
